

 @media (max-width:1200px){
     html{
            font-size: 55%;
         }
}

@media(max-width:1050px){
    body{
        overflow:visible;
    }
    html{
    scroll-snap-type:none;
    
    }
    .about .row{
        display: block;
    }
    .about .row .inf4{
        padding-left: 0;
    }
    .about .row .inf4-1 {
        margin: 0 2rem;
        font-size: 1.5rem;
    }
   
}

 @media (max-width:951px){
  
     header{
      width:auto;
      position:static;
     }
     body{
         padding: 0px;
     }
    
 }
@media (min-width: 768px) {
  #myCanvas {
    width: 600px !important;
    height: 600px !important;
    
  }
}

 #myCanvas {
    width: 300px;
    height: 300px;
    
  }
